@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index Category";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Index Gategory</h1>


<table class="table table-bordered table-striped w-100">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Display Order</th>
        <tr />
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cell-width">@item.Id</td>
                <td class="cell-width">@item.Name</td>
                <td class="cell-width">@item.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>