@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .toast-bottom-right {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1050;
    }
</style>
<div class="container p-3">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary float-right">
                <i class="bi bi-plus-circle pt-1">&nbsp;Create New Category</i>
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped mt-3" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Display Order</th>
            <th>Edit</th>
        <tr />
    </thead>
    <tbody data-bind="foreach: categories">
        <tr>
            <td style="width: 10%" data-bind="text: id"></td>
            <td class="cell-width" data-bind="text: name"></td>
            <td style="width: 20%" data-bind="text: displayOrder"></td>
            <td class="w-100 btn-group" role="group">
                <a data-bind="attr: { href: '/Category/Edit/' + id() }" class="btn btn-primary mx-2">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a data-bind="attr: { href: '/Category/Delete/' + id() }" class="btn btn-danger mx-2">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>

<script src="~/lib/knockout.mapping/"></script>
<script src="~/js/category.js"></script>